.player
  .cover
  .info
    .menu-row
      .btn.menu.left
        i.fa.fa-bars
      .btn.options.right
        i.fa.fa-ellipsis-v
      .btn.heart.right
        i.fa.fa-heart
    .song Feel So Close - Radio Edit
    .artist Calvin Harris
    .time 3:26
  .controls
    .playback
      .previous
        i.fa.fa-step-backward
      button.pause
        i.fa.fa-pause
      .next
        i.fa.fa-step-forward
    .volume
      button.vol-toggle(type='button' aria-label='Mute')
        i.fa.fa-volume-up
      .vol-bar
        .level
    .ambient(role='button' tabindex='0' aria-label='Ambient light')
      i.fa.fa-lightbulb-o
    .shuffle
      i.fa.fa-random
  .track
    .complete
  .playlist-panel
    .pl-header
      span.pl-heading Queue
      button.pl-close(type='button' aria-label='Close playlist') ×
    ul.pl-list
  .options-menu
    .options-title Repeat
    ul.options-list
      li(data-repeat='off')
        i.fa.fa-ban(aria-hidden='true')
        span Off
      li(data-repeat='all')
        i.fa.fa-repeat(aria-hidden='true')
        span All
      li(data-repeat='one')
        i.fa.fa-repeat(aria-hidden='true')
        span One
  .player-error(role='alert' aria-live='assertive')