.player
  .info
    .menu-row
      .btn.menu.left
        i.fa.fa-bars
      .btn.options.right
        i.fa.fa-ellipsis-v
      .btn.heart.right
        i.fa.fa-heart
    .song Feel So Close - Radio Edit
    .artist Calvin Harris
    .time 3:26
  .controls
    .playback
      .previous
        i.fa.fa-step-backward
      button.pause
        i.fa.fa-pause
      .next
        i.fa.fa-step-forward
    .volume
      button.vol-down
        i.fa.fa-volume-down
      .vol-bar
        .level
      button.vol-up
        i.fa.fa-volume-up
    .playlist
      i.fa.fa-bars
    .shuffle
      i.fa.fa-random
  .track
    .complete